body{
background-color: white;
margin: 2%;
}
nav{
    background-color: darkblue;
}
.logo{
    margin-left: 40%;
    margin-right: 40%;   
}
.banner{
    background-image: url('banner.jpg');
    text-align: center;
    color: white;
    padding-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
}
button{
    
}
.about{
    text-align: center;
}
.about p{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
h2{
    color: blue;
}